.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

button {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
}

button:hover {
    font-weight: bold;
}

button.round {
    border-radius: 50%;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

input:not([type='checkbox']),
textarea {
    border-radius: 100px;
}

