.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}
