.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

button {
    border-radius: 4px;
}

input:not([type='checkbox']),
textarea {
    border-radius: 4px;
}

